# Byte-compiled / optimized / DLL files
BoitesFonctionelles/__pycache__/*

# Resultat JSON + à ranger dossier JSON dans Result
sample/BoitesFonctionelles/SortieJson/*
sample/BoitesRegulatrices/__pycache__
sample/main/__pycache__

sample/Predict_Target_MiRNA/*.txt
sample/Predict_Target_MiRNA/Raw/*.txt
sample/Predict_Target_MiRNA/Raw/*.csv
sample/Predict_Target_MiRNA/Raw/*.csv#
sample/Predict_Target_MiRNA/Raw/*.html
sample/Predict_Target_MiRNA/Raw/*.tab

sample/Predict_Target_MiRNA/Result_Json
sample/Predict_Target_MiRNA/script/__pycache__
sample/Predict_Target_MiRNA/script/.Rhistory
sample/Predict_Target_MiRNA/script/.DS_Store
sample/Predict_Target_MiRNA/script/__pycache__/*.txt

sample/Predict_Target_MiRNA/script/Predict_targetmiRNA.R
sample/Predict_Target_MiRNA/script/resultRequest.html
sample/Predict_Target_MiRNA/script/*.txt

Result
sample/UniprotInteractomics/*.txt
sample/UniprotInteractomics/*.tab
sample/UniprotInteractomics/*.json

#DataBase
resources/*
