# Byte-compiled / optimized / DLL files
BoitesFonctionelles/__pycache__/*

# Resultat JSON + à ranger dossier JSON dans Result
BoitesFonctionelles/SortieJson/*
BoitesRegulatrices/__pycache__
main/__pycache__

Predict_Target_MiRNA/*.txt
Predict_Target_MiRNA/Raw/*.txt
Predict_Target_MiRNA/Raw/*.csv
Predict_Target_MiRNA/Raw/*.csv#
Predict_Target_MiRNA/Raw/*.html
Predict_Target_MiRNA/Raw/*.tab

Predict_Target_MiRNA/Result_Json
Predict_Target_MiRNA/script/__pycache__
Predict_Target_MiRNA/script/.Rhistory
Predict_Target_MiRNA/script/.DS_Store
Predict_Target_MiRNA/script/__pycache__/*.txt

Result
/UniprotInteractomics/*.txt
/UniprotInteractomics/*.tab
/UniprotInteractomics/*.json

